
/* animation-fill-mode: both,back,forward,none; = fx after animation */-
html, body { margin: 0 auto; padding: 0; border: 0; background: transparent; font-size:10px; }

body  { background-color: #eee;  }
				
div, span, article, aside, footer, header, hgroup, nav, section,
h1, h2, h3, h4, h5, h6, p, blockquote, a, ol, ul, li,
table, tr, th, td, tfoot, thead {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: 0;
	background: baseline;
	}
	
img		{ margin: 0; padding:0; border:0;}

table, tr, th, td, tbody, form, fieldest {
	margin: 0; padding: 0; border: 0;
	vertical-align: baseline;
	background: transparent;
	}
	
table { border-collapse: collapse; border-spacing: 0px;}	

input, select, textarea, form, fieldset {
	margin: 0; padding: 0; border: 0;
	}
	
article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display:block; }
	
h1, h2, h3, h4, h5, h6, p, li, blockquote, td, th, a, caption, em, strong, strike {
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	line-height: 100%;
	text-indent: 0;
	text-decoration: none;
	text-align: left;
	color: #000;	
	}

	strong {
	font-weight: bold;
	}	
ol, ul { list-style: none; }
/*****************************************************************************/
/*****************************************************************************/

/* TEXT Headings *//* TEXT Headings *//* TEXT Headings */
/* TEXT Headings *//* TEXT Headings *//* TEXT Headings */
/* TEXT Headings *//* TEXT Headings *//* TEXT Headings */
h1, h2, h3, h4, h5, h6	{ font-weight: bold; color: #000; }

h1 { font-size:24px; }
h2 { font-size:20px; }
h3 { font-size:12px; }
h4 { font-size:14px; }
h5 { font-size:14px; }
h6 { font-size:14px; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }
/*****************************************************************************/


/* Interactive & Test Elements *//* Interactive & Test Elements */
/* Interactive & Test Elements *//* Interactive & Test Elements */
p				{ color:#000; font-size:12px; line-height:150%; }
p .left			{ margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p .right			{ margin: 1.5em 0 1.5em 1.5em; padding: 0; }

a				{	}
a:link			{ color:#00f; }
a:visited		{ color:#0f0;	}
a:active		{ color:#000;	}
a:focus			{ color:#666;	}

/********WEBKIT FLASH FLASH ************/
}
.contBg {max-width:71%;  min-height: 866px; margin: 70px auto -40px auto;  background-image: url("img/contBg.png"); background-position: center center; background-attachment: absolute; background-size: 100% 100%;  border-radius: 0 0 1% 1%;  top:0; }
 
 #tableMain {width: 95%; position:relative; background:#ddd; padding-bottom:5%; border: 6px solid #ddd; max-height: 690px; display: block; border-radius: 10px; margin: 10px auto; overflow: none; overflow-Y: scroll;  animation-duration: .20s; animation-timing-function: ease-in-out; animation-fill-mode:both; animation-direction: linear;}
  #tableMain  table td > img { border: 1px double #999; border-radius: 5px; box-shadow: 1px 2px 4px #888;}
  #tableMain tbody td center > img {display: box ; margin: 0 auto;  border: 5px double transparent; border-radius: 5%; box-shadow: 1px 1px 5px #666;}
 
 .footerBg {width: 100%; height:122px;  position: absolute; left: 0; right: auto;top: auto; z-index: -1;  margin: 0px auto;  background-image: url("img/footer.jpg"); background-size: auto 122px; background-repeat: repeat-x; background-position: center; }
 /* animation-fill-mode: both,back,forward,none; = fx after animation */-
 
 #flsh {}
  
  #flshBg {width: 98%; min-height: 170px; margin: auto auto; position:static; background-image: url("img/flshBg.png"); background-repeat: no-repeat; background-position: center auto; background-size: 100% 100%; border-radius: 0 0 16px 16px; box-shadow: 0px 3px 5px #999; animation-duration: .20s; animation-timing-function: ease-in-out; animation-fill-mode:both; animation-direction: linear;}
     #flshBg:hover  #minimize_flsh > center img {opacity:1; display: block; transition: ease-in-out, opacity .3s; position: relative; left:auto; right:auto; bottom:5px;}

  #minimize_flsh center > img{opacity:0; display: block; transition: ease-in-out, opacity .3s; position: relative; left:auto; right:auto; bottom:5px; }
    #minimize_flsh center > img{width: auto; height: 20px; }
    #minimize_flsh{  margin: auto 0; animation-duration: .20s; animation-timing-function: ease-in-out; animation-fill-mode:both; animation-direction: linear;}
	/**animation**/

  