░░░░░░░░░░░░░░░ ▓▓███████▓▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░ ▓██████▓▓▓▓███████▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░████▒░░░░░░░░░░░░░▓████ ░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░███▓░░░░░░░░░░░░░░░░░░░░░▓██ ▒░░░░░░░░░░░░░░░░░░░░░░░
 ░░░░▒██░░░░░░░░░░░░░░░░░░░░░░░░░░░██░░░░░░░░░░░░░░░░░░░░░░░
 ░░░██░░▓▓▓▓▓▓▓▒░░░░░░░░░░▒▓███████▓░█▒░░░░░░░░░░░░░░░░░░░░░
░░██░▒███████▓▒▒░░░░░░░░▒██████████▓▓█ ░░░░░░░░░░░░░░░░░░░░░
░░█░▒██████████▓░░░░░░░▒██████▓▒▒▓██░██ ░░░░░░░░░░░░░░░░░░░░
░██░██░░░░░▓▓▓███▒░░░░░█████░░░░░░░██░█ ░░░░░░░░░░░░░░░░░░░░
░█░██░░░░░░░░▓▓██▓░░░░░░██▒░░░░░░░░░▓░██ ░░░░░░░░░░░░░░░░░░░
▒█░▓░░░░░░░░░░░▓█░░░░░░█▓░░░░░░░░░░░░░▓█ ░░░░░░░░░░░░░░░░░░░
 █▓░░░░░░░▓███▓▓░░▒█░░░█░░░▒██▓▓▓█░░░░▓░█░░░░░░░░░░░░░░░░░░░
█▒▒░░░░░█▓░▒▒▒▓█▓░▒▒░░▓░░█▓▓▓██▓▓█░░░▓░█ ░░░░░░░░░░░░░░░░░░░
█░▒▒░░░█▓▓████▓░█▒░▒░░▓░█▓███████▓▓░░█░█ ░░░░░░░░░░░░░░░░░░░
█░░▓░░▒█████████▓█░▒░░▒░█▓███████▒███░░█ ░░░░░░░░░░░░░░░░░░░
█░░█▒▓█▓█████▓▓▓█░░▒░░▒░░█▓▒▒▒░░░▒███░▓█ ░░░░░░░░░░░░░░░░░░░
█░░▒███▓▓▓▓▓▓▓▒░░░░▒░░▒░░░░▓▓▓▓▓▓▒░▒██░█ ░░░░░░░░░░░░░░░░░░░
█▒░▓▓░░░░░░░░░░░░░░▒░░▒▒░░░░░░░░░░░░░  █▓█ ░░░░░░░░░░░░░░░░░░░
█░░░░░░░░░░░░░█░░░░░░░░░░▒█░░░░░░░░░░░  ░█ ░░░░░░░░░░░░░░░░░░░
█░░░░░░░░░░░░█▓░░░░░░░░░░░██░░░░░░░░░  ▓░█ ░░░░░░░░░░░░░░░░░░░
█░░░░░░░░░░▓██▒░▓░░░░░░░█░▓▓██░░░░░░░█░ █ ░░░░░░░░░░░░░░░░░░░
█░▒░░░░░░▓██░░█░██▓░░░░███▓░░██▓░░░░█▓░█ ░░░░░░░░░░░░░░░░░░░
█░░█░░░▓██▓░░░▒▓▒███▓▓██░▒░░░░░██▓▓█▓░░█ ░░░░░░░░░░░░░░░░░░░
█░░░█████░░░░░░░░███████░░░░░░░░████░▓░█ ░░░░░░░░░░░░░░░░░░░
█▒░░░▓███▒░░░░░░████▒▓███▒░░░░░▓███░░▓░█ ░░░░░░░░░░░░░░░░░░░
█▓░░░▓▒███▒░▒▓█████▒░░█████████████░▒▓▓█ ░░░░░░░░░░░░░░░░░░░
█░░░░░▓░██████████▒░░░░█████████▒█░░▓█▓█ ░░░░░░░░░░░░░░░░░░░
▓█░░░░░▓░██████████████████████▒▓█░░█░▒█ ░░░░░░░░░░░░░░░░░░░
░█░░░░░░██░░░░░░░░░░░░░░░░░░░░▓█▒░▒█░░ █▓░░░░░░░░░░░░░░░░░░░
░█▓░▒░░░░█████████▓▓▓▓▓██████▓▓█░░█▒░░█ ░░░░░░░░░░░░░░░░░░░░
░▓█░▒▓░░░▒█░░▒▒▓▓▓██████▒░░░░░█░░█▓░░▒█ ░░░░░░░░░░░░░░░░░░░░
░░█░░▓█░░░▓▓░░░░░░░▓███▒░░░░░▓▓░▒█ ░░░██░░░░░░░░░░░░░░░░░░░░ 
░░██░░██░░░█▒░░░░░░░███░░░░░░█░░█ ░░░░█▒░░░░░░▓███▓░░░░░░░░
░░░█▓░░██░░░█▒░░░░░▓███▒░░░░█▒░█▒░░░██░░░░░░▓█▓░   ▓░░░░░░░░ 
░░░▒█▒░░██░░░█░░░░░█████▓░░░▒▓▓░░░░▓█░░░░░░░▓█▓▓  ▓█▓░░░░░░░   
░░░░▓█▓░░▓▓░░░█░░░░█████░░░░░▓░░░░▓█▒░░░░░░░▓█░░ ░  █▓░░░░░░░ 
░░░░▓█▓░░▓▓░░░█░░░░█████░░░░░▓░░░░▓█▒░░░░░░░▓█░░ ░  █▓░░░░░░░ 
░░░░░▓██░░▒░░░░▓░░░▓███▓░░░░▓░░░░▓█▓░░░░░░░░▓█▓░░░ █▓░░░░░░░ 
░░░░░░░██▒░░░░░░░░░▒██▓░░░░░▒░░░██▓░░░░░░░░░▓█▓░░▓██░░░░░░░ 
░░░░░░░░███░░░░░░░░░  █▒▒░░░░░░░██▒░░░░░░░ ██▓▓█▓░░░▓█▓ ██▓░░░ 
░░░░░░░░███░░░░░░░░░  █▒▒░░░░░░░██▒░░░░░░ █▓░░░█▓░░░ ▓█	    ▓█▓░░     
 ░░░░░░░░░░░▓██▓░░░░ ▓█ ░░░░░░░██▓░░░░░░░  █░░░▓░░░░░░░	  ▓   █▓░   
░░░░░░░░░░░░░░████▓▓█▓▓██████░░░░░░░░░░ █░░░▓▓░░░░░ ▓░░     █▓ 
/******************** MUSIC CONTENT  MUSIC CONTENT  MUSIC CONTENT  ********************/
/**************CONTENT*CONTENT*CONTENT*CONTENT*CONTENT*CONTENT*CONTENT********************/
/******************** MUSIC CONTENT  MUSIC CONTENT  MUSIC CONTENT  ********************/




 /**END OF ANIMATION**/ /**END OF ANIMATION**/ /**END OF ANIMATION**/ /**END OF ANIMATION**/
 /**END OF ANIMATION**/ /**END OF ANIMATION**/ /**END OF ANIMATION**/ /**END OF ANIMATION**/
 
/*****************************************************************************/
/**************** CONTENT  CONTENT  CONTENT  CONTENT *************************/
/*****************************************************************************/
.wrapper_out {min-width: 800px; height: auto;  }
.wrapper_in { margin-bottom: auto;}

/***** TOP HEADER CONTENT SECTION *********** TOP HEADER CONTENT SECTION ******/
/***** TOP HEADER CONTENT SECTION *********** TOP HEADER CONTENT SECTION ******/
#headerBg {width: 100%; position: absolute; left:auto; top: 30px; right: auto; max-height: 70px; margin-top: 0; background-image: url("img/topNavHeader.jpg"); background-size: 100% 68px;} 	

.header {width: 100%; height: auto; display:block; background: #fff; }
 .headerTopBg {width: 100%; height: auto; display: block; box-shadow: 0px -1px 9px #444; z-index: 800; position: absolute; left: 0; top:0; right: auto; background-image: url("img/topNavHeader.png"); background-size: 100% 100%; background-position: center; background-repeat: repeat-x; }
  /*social icons*/
 .headerTopBg ul:first-child {width:350px; display: block; position:relative; left: 10%; top:0; animation-name: topSlideIn; animation-direction: linear; animation-duration: .2s; animation-timing-function: ease-in-out; animation-iteration-count:1;}
 .headerTopBg ul > li {border-radius:4px 4px 0 0; width: auto; display: inline-block; float: left; clear: right; margin-top: 2px; margin-left: 5px;   }
 .headerTopBg ul li a:hover > img {box-shadow: -5px -8px 8px #999 inset; border-radius:12px; animation-name: socialFadeIn; animation-direction:linear; animation-iteration-count:1; animation-duration: .2s; animation-timing-function:ease-out;}
  /*login form*/
  .headerTopBg div > form { display: none; width: 100%; height: auto; margin: 0 50% 0 auto;}
   /*login hover-btn*/
   .headerTopBg div {min-height: 15px; display: block; padding: 3px; }
   .headerTopBg div > h2 {display: block; position: absolute; top: 3px; opacity:.5; margin-left: 70%; border-bottom: 1px dotted #ccc; color: #555; background: #ddd; float:left; clear: right; animation-name:topSlideIn; animation-direction: linear; animation-duration: .2s; animation-iteration-count: 1; animation-timing-function:ease-in-out; animation-fill-mode: both;}
   .headerTopBg div:hover > h2 {opacity: 0; display: none; animation-name: socialFadeIn; animation-direction: reverse; animation-duration: .2s; animation-timing-function: ease-in; animation-iteration-count:1;}
   .headerTopBg div:hover > form { display: inline; position: absolute; top: 3px; margin-left: 50%; float:left; clear: right; animation-name:topSlideIn; animation-direction: linear; animation-duration: .2s; animation-iteration-count: 1; animation-timing-function:ease-in-out; animation-fill-mode: both;}
	 /*form input*/	 
	 .headerTopBg div form > input[type=text], .headerTopBg div form > input[type=password] {width: 50px; -webkit-transition: ease-in-out, width .30s ease-in-out; }
	 .headerTopBg div form > input[type=text], .headerTopBg div form > input[type=password] {width: 50px; -moz-transition: ease-in-out, width .30s ease-in-out; }
	 .headerTopBg div form > input[type=text], .headerTopBg div form > input[type=password] {width: 50px; -ms-transition: ease-in-out, width .30s ease-in-out; }
 	 .headerTopBg div form > input[type=text]:focus,.headerTopBg div form > input[type=password]:focus{width: 165px; -webkit-transition: ease-in-out, width .30s ease-in-out; transition: ease-in-out, width .30s ease-in-out;}
 	 .headerTopBg div form > input[type=text]:focus,.headerTopBg div form > input[type=password]:focus{width: 165px; -moz-transition: ease-in-out, width .30s ease-in-out; transition: ease-in-out, width .30s ease-in-out;}
 	 .headerTopBg div form > input[type=text]:focus,.headerTopBg div form > input[type=password]:focus{width: 165px; -ms-transition: ease-in-out, width .30s ease-in-out; transition: ease-in-out, width .30s ease-in-out;}
	 .headerTopBg div form  span > input {border: 1px solid #fff; display: inline-block; padding: 3px;  box-shadow: 0px 1px 3px #888;}
	  /*input hover*/
	  .headerTopBg div form span > input:hover{background: #bbb; box-shadow: 0px 6px 7px #eee ;}
	  .headerTopBg div form span > input:active{background: #bbb; box-shadow: 0px 6px 7px #ccc ;}
	
/***** END OF TOP HEADER CONTENT SECTION *********** END OF TOP HEADER CONTENT SECTION ******/
/***** END OF TOP HEADER CONTENT SECTION *********** END OF TOP HEADER CONTENT SECTION ******/
/***** END OF TOP HEADER CONTENT SECTION *********** END OF TOP HEADER CONTENT SECTION ******/

/******************** MUSIC CONTENT  MUSIC CONTENT  MUSIC CONTENT  ********************/
/**************CONTENT*CONTENT*CONTENT*CONTENT*CONTENT*CONTENT*CONTENT********************/
/***************************CONTENT  MUSIC CONTENT  MUSIC CONTENT  ********************/

/****PROFILE PG STYLE*******/
 #mem_socials {background:#ccc; border-radius: 10px; border: 2px dashed #aaa; }
  #showInput{width:80%; margin:0 auto; background: #eee; transition:ease-in-out,  background .30s;}
  #showInput:hover{width:80%; margin:0 auto; background: #ccc; transition:ease-in-out, background .30s;}
  
 #pic_upl_form{border-top:1px solid #aaa;}
 #pic_upl_form form > input[type='submit'],#pic_upl_form form > input[type='reset']{border:2px outset #999; }
 #pic_upl_form form > input[type='submit']:hover,#pic_upl_form form > input[type='reset']:hover{border:2px inset #999; }
  input[name='prof_up']:hover {  color:white;}
   input[name='prof_rst']:hover {  color:white;}
 