░░░░░░░░░░░░░░░ ▓▓███████▓▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░ ▓██████▓▓▓▓███████▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░████▒░░░░░░░░░░░░░▓████ ░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░███▓░░░░░░░░░░░░░░░░░░░░░▓██ ▒░░░░░░░░░░░░░░░░░░░░░░░
 ░░░░▒██░░░░░░░░░░░░░░░░░░░░░░░░░░░██░░░░░░░░░░░░░░░░░░░░░░░
 ░░░██░░▓▓▓▓▓▓▓▒░░░░░░░░░░▒▓███████▓░█▒░░░░░░░░░░░░░░░░░░░░░
░░██░▒███████▓▒▒░░░░░░░░▒██████████▓▓█ ░░░░░░░░░░░░░░░░░░░░░
░░█░▒██████████▓░░░░░░░▒██████▓▒▒▓██░██ ░░░░░░░░░░░░░░░░░░░░
░██░██░░░░░▓▓▓███▒░░░░░█████░░░░░░░██░█ ░░░░░░░░░░░░░░░░░░░░
░█░██░░░░░░░░▓▓██▓░░░░░░██▒░░░░░░░░░▓░██ ░░░░░░░░░░░░░░░░░░░
▒█░▓░░░░░░░░░░░▓█░░░░░░█▓░░░░░░░░░░░░░▓█ ░░░░░░░░░░░░░░░░░░░
 █▓░░░░░░░▓███▓▓░░▒█░░░█░░░▒██▓▓▓█░░░░▓░█░░░░░░░░░░░░░░░░░░░
█▒▒░░░░░█▓░▒▒▒▓█▓░▒▒░░▓░░█▓▓▓██▓▓█░░░▓░█ ░░░░░░░░░░░░░░░░░░░
█░▒▒░░░█▓▓████▓░█▒░▒░░▓░█▓███████▓▓░░█░█ ░░░░░░░░░░░░░░░░░░░
█░░▓░░▒█████████▓█░▒░░▒░█▓███████▒███░░█ ░░░░░░░░░░░░░░░░░░░
█░░█▒▓█▓█████▓▓▓█░░▒░░▒░░█▓▒▒▒░░░▒███░▓█ ░░░░░░░░░░░░░░░░░░░
█░░▒███▓▓▓▓▓▓▓▒░░░░▒░░▒░░░░▓▓▓▓▓▓▒░▒██░█ ░░░░░░░░░░░░░░░░░░░
█▒░▓▓░░░░░░░░░░░░░░▒░░▒▒░░░░░░░░░░░░░█▓█ ░░░░░░░░░░░░░░░░░░░
█░░░░░░░░░░░░░█░░░░░░░░░░▒█░░░░░░░░░░░░█ ░░░░░░░░░░░░░░░░░░░
█░░░░░░░░░░░░█▓░░░░░░░░░░░██░░░░░░░░░▓░█ ░░░░░░░░░░░░░░░░░░░
█░░░░░░░░░░▓██▒░▓░░░░░░░█░▓▓██░░░░░░░█░█ ░░░░░░░░░░░░░░░░░░░
█░▒░░░░░░▓██░░█░██▓░░░░███▓░░██▓░░░░█▓░█ ░░░░░░░░░░░░░░░░░░░
█░░█░░░▓██▓░░░▒▓▒███▓▓██░▒░░░░░██▓▓█▓░░█ ░░░░░░░░░░░░░░░░░░░
█░░░█████░░░░░░░░███████░░░░░░░░████░▓░█ ░░░░░░░░░░░░░░░░░░░
█▒░░░▓███▒░░░░░░████▒▓███▒░░░░░▓███░░▓░█ ░░░░░░░░░░░░░░░░░░░
█▓░░░▓▒███▒░▒▓█████▒░░█████████████░▒▓▓█ ░░░░░░░░░░░░░░░░░░░
█░░░░░▓░██████████▒░░░░█████████▒█░░▓█▓█ ░░░░░░░░░░░░░░░░░░░
▓█░░░░░▓░██████████████████████▒▓█░░█░▒█ ░░░░░░░░░░░░░░░░░░░
░█░░░░░░██░░░░░░░░░░░░░░░░░░░░▓█▒░▒█░░ █▓░░░░░░░░░░░░░░░░░░░
░█▓░▒░░░░█████████▓▓▓▓▓██████▓▓█░░█▒░░█ ░░░░░░░░░░░░░░░░░░░░
░▓█░▒▓░░░▒█░░▒▒▓▓▓██████▒░░░░░█░░█▓░░▒█ ░░░░░░░░░░░░░░░░░░░░
░░█░░▓█░░░▓▓░░░░░░░▓███▒░░░░░▓▓░▒█ ░░░██░░░░░░░░░░░░░░░░░░░░ 
░░██░░██░░░█▒░░░░░░░███░░░░░░█░░█ ░░░░█▒░░░░░░▓███ ▓░░░░░░░░
░░░█▓░░██░░░█▒░░░░░▓███▒░░░░█▒░█▒░░░██░░░d░░░▓█▓░     ▓░░░░░░░░ 
░░░▒█▒░░██░░░█░░░░░█████▓░░░▒▓▓░░░░▓█░░░░░░░▓█▓▓   ▓█▓░░░░░░░   
░░░░▓█▓░░▓▓░░░█░░░░█████░░░░░▓░░░░▓█▒░░░░░░░▓█░░   ░█▓░░░░░░░ 
░░░░▓█▓░░▓▓░░░█░░░░█████░░░░░▓░░░░▓█▒░░░░░░░▓█░░   ░█▓░░░░░░░ 
░░░░░▓██░░▒░░░░▓░░░▓███▓░░░░▓░░░░▓█▓░░░░░░░░▓█▓░░░█▓░░░░░░░ 
░░░░░░░██▒░░░░░░░░░▒██▓░░░░░▒░░░██▓░░░░░░░░░▓█▓░░▓██░░░░░░░ 
░░░░░░░░███░░░░░░░░░  █▒▒░░░░░░░██▒░░░░░░░ ██▓▓█▓░░░▓█▓██▓░░░ 
░░░░░░░░███░░░░░░░░░  █▒▒░░░░░░░██▒░░░░░░ █▓░░░█▓░░░ ▓█	  ▓█▓░░     
 ░░░░░░░░░░░▓██▓░░░░ ▓█ ░░░░░░░██▓░░░░░░░  █░░░▓░░░░░░░	  ▓   █▓░   
░░░░░░░░░░░░░░████▓▓█▓▓██████░░░░░░░░░░ █░░░▓▓		░░░░░ ▓░░█▓ 

 
/***animation: anim-name 1s linear infinite;***/
.navS { margin: 0 auto 0 0;} .hide, #hide{ display: none;} 
.navR > div:first-child{width:auto; transition:ease-in-out, background-image .25s; margin: 0 auto; display: block; background-image: url("img/btnbar1.jpg"); background-size: 100% 100%; background-repeat: repeat-x; background-position: auto auto;}
.navR:hover > div:first-child{ transition:ease-in-out, background-image .25s; margin: 0 auto; display: block; background-image: url("img/btnbar2.jpg"); background-size: 100% 100%; background-repeat: repeat-x; background-position: auto auto;}
.nav-navS {display: block;  }	
 	/** BTN HOVER FX **/
	 /******* HOME BTN NEST CONTAINER *************/	 
	 /******* HOME BTN NEST CONTAINER *************/	

  /******* MEMBER NAVIGATION *************/
 	    .navBtnUlmember,  .navBtnUlmember > li{display:block; margin: -30px 30%; position:relative; left:25%; float: left; clear: both; }  
  	    .navBtnUlmember li,.navBtnUlmember  li a > strong,.navBtnUlmember  strong > b {display:inline-block; margin: 0 5px 0 0; color:#999;  background: #ddd; padding: 1px 4px 1px 4px; border:1px dotted #ddd;}  
	  